#################################################
# APPLICATION
#################################################

APP_NAME=POSDATA ETL ENGINE
APP_VERSION=0.2.0
APP_ENV=development
APP_DEBUG=True

#################################################
# DATABASE
#################################################

DB_HOST=192.168.30.114
DB_PORT=3306
DB_NAME=posdata
DB_USER=inventory
DB_PASS=

#################################################
# FTP
#################################################

FTP_TIMEOUT=30
FTP_RETRY=3

#################################################
# STORAGE
#################################################

DOWNLOAD_PATH=storage/download
EXTRACT_PATH=storage/extract
ARCHIVE_PATH=storage/archive
FAILED_PATH=storage/failed
LOG_PATH=storage/logs
SCHEMA_PATH=storage/schema